.background {
  padding: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  background: white;
}

.auth-container {
  width: 420px;
  height: 292px;
  position: relative;
  top: calc(50vh - 144px - 100px);
  left: calc(50vw - 240px - 100px);
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 24px;
  text-align: center;
}

.auth-form {
  padding-top: 33px;
  width: 60%;
  margin-left: 20%;
}

.auth-title {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 26px;
}

.text-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 24px;
  outline: none;
  border-width: 0px;
  border: 2px solid #fe7e6d;
  border-radius: 10px;
  color: black;
  font-size: 80%;
}

.text-input::placeholder {
  color: hsla(0, 0%, 30%, 0.568);
}

.submit-button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
  background-color: #fe7e6d;
  color: white;
  outline: none;
  font-size: 80%;
}

.submit-button::hover {
  background-color: #938ffe;
}
